section{

    .blog_detail_wrapper{

        .blog_title_duration_author_container{
            display: flex;
            justify-content: space-between;

            .blog_duration_author{
                display: flex;
                justify-content: space-between;
                width: 20%;

                h4{
                    align-self: center;
                    color: grey;
                }
            }
        }

        .image_container{
            width: 50%;
            margin: 0 auto;

            img{
                width: 100%;
            }
        }
    }
}