<section>
    <div class="wrapper">
        
        <div class="logo_title">
            <h1>Welcome </h1>
            <h1 style="text-align: center;">to</h1>
            <h1 style="text-align: right;">H Blogs...</h1>
        </div>
        <div class="form_container">
            <div class="form_wrapper">
                <h1>Join H Blogs...</h1>
                <form (submit)="navigateToLogin()">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Enter Name">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Enter Email">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter Password">
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</section>